@import "src/styles/mixins";

.container {
  @include FontParagraph;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border: 1px solid var(--teal-200);
  border-radius: 2px;
  background-color: var(--light-gray);
  color: var(--blue);
  gap: 10px;
  grid-gap: 10px;
  outline: none;
  transition: 0.1s all;
  user-select: none;

  &:hover {
    border: 1px solid var(--black);
  }

  &:active {
    border: 1px solid var(--black);
    background-color: var(--teal-300);
  }

  &:disabled {
    border: 1px solid var(--light-gray);
    background: transparent;
    color: var(--light-gray);
  }
}

.selected {
  background-color: var(--yellow);
}