.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--black);
}

.buttons {
  position: absolute;
  bottom: calc(2px + 100%);
  left: 0;
  display: flex;
  gap: 1px;
}

.buttons__drag {
  cursor: move !important;
}

.buttons__rotation {
  cursor: e-resize !important;
}

.selection {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dashed var(--black);
}