@mixin FontTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

@mixin FontSubtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

@mixin FontParagraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}