@import "src/styles/mixins";

.container {
  display: grid;
  height: 100vh;
  color: var(--black);
  grid-template-columns: 50px 1fr;
  grid-template-rows: 30px 1fr;

  & > *:nth-child(1) {
    grid-column: 1 / 3;
  }
}
